@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary: #0d9488;
  --secondary: #14b8a6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

#header {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}
.heading {
  display: flex;
  height: 50px;
  align-items: center;
}

.heading h2 {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  color: #1f2937;
  margin: 0 auto;
}
.heading a {
  color: #1f2937;
  font-size: 24px;
}

#upload-container {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  width: 30%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 16px;
  border-radius: 10px;
}
#upload-container label {
  margin-bottom: 8px;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 10px;
}
#upload-container button {
  margin: 0 auto;
}

.crop-btn {
  display: none;
}
.image-container {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  display: none;
}
.image-container img {
  width: 100%;
  height: 100%;
}
.fa-crop-simple {
  text-align: center;
  margin: 0 auto;
}
.crop-container {
  width: 550px;
  height: 550px;
  margin: 0 auto;
}
.shape img {
  width: 21%;
  height: 60px;
  cursor: pointer;
}

.circle {
  clip-path: circle(35.1% at 50% 50%);
  z-index: -1;
  overflow: hidden;
}
.heart {
  clip-path: circle(40.1% at 50% 50%);
  z-index: -1;
  overflow: hidden;
}
.polygon {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  z-index: -1;
  overflow: hidden;
}
.landscape {
  clip-path: inset(27% 0 15% 0);
  z-index: -1;
  overflow: hidden;
}

@media only screen and (max-width: 640px) {
  .heading h2 {
    font-size: 20px;
  }
  #upload-container {
    width: 100%;
  }
  .image-container {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 992px) {
  #upload-container {
    width: 70%;
  }
  .image-container {
    width: 100%;
  }
}
